In [1]:
import sqlite3
conn = sqlite3.connect('challenge.db')
print("Opened database successfully")
conn.execute('''CREATE TABLE IF NOT EXISTS THURSDAY
 (ID INT PRIMARY KEY     NOT NULL,
 BAND           TEXT    NOT NULL,
 HOMETOWN       TEXT     NOT NULL,
 YEAR           INT      NOT NULL);''')
print("Table created successfully")


conn.execute("INSERT INTO THURSDAY (ID,BAND,HOMETOWN,YEAR) VALUES (1, 'The Beatles', 'Liverpool, England', 1960)")

conn.execute("INSERT INTO THURSDAY (ID,BAND,HOMETOWN,YEAR) VALUES (2, 'Guns and Roses', 'Los Angeles, USA', 1985)")

conn.execute("INSERT INTO THURSDAY (ID,BAND,HOMETOWN,YEAR) VALUES (3, 'Agnee', 'Pune, India', 2007)")

conn.commit()
print("Records created successfully")

Opened database successfully
Table created successfully

IntegrityError: UNIQUE constraint failed: THURSDAY.ID

In [2]:
import pandas as pd
import sqlite3

# Read sqlite query results into a pandas DataFrame
con = sqlite3.connect("challenge.db")
df = pd.read_sql_query("SELECT * from THURSDAY", con)

# Verify that result of SQL query is stored in the dataframe
print(df.head())

con.close()

   ID            BAND            HOMETOWN  YEAR
0   1     The Beatles  Liverpool, England  1960
1   2  Guns and Roses    Los Angeles, USA  1985
2   3           Agnee         Pune, India  2007